{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
                <div id="tracker"style="display:inline; float:right;"><h6>Tracking-Id:<small >2022/816s2ik5e5v3r5f3g3jxki</small></h6></div>
                <br>
                
                <hr>
                <table class="table">
                    <th><h5>Items: <strong>{{order.item_count}}</strong></h5></th>
                    <th><h5>Total: <strong>#{{order.cost_total}}</strong></h5></th>
                    <th><a style="float:right;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a></th>
                </table>
            </div>
            <br>
            <div class="box-element">
                 <div class="cart-row">
                    <div style="flex:2;"></div>
                    <div style="flex:2;"><strong>Item</strong></div>
                    <div style="flex:1;"><strong>Price</strong></div>
                    <div style="flex:1;"><strong>Quantity</strong></div>
                    <div style="flex:1;"><strong>Total</strong></div>
                </div>
                {% for orderitem in orderitems %}
                <div class="cart-row">
                    <div style="flex:2;"><img class="cart-img" src="{{ orderitem.product.imageURL }}" ></div>
                    <div style="flex:2;">{{orderitem.product.name}}</div>
                    <div style="flex:1;">#{{orderitem.product.price}}</div>
                    <div style="flex:1;">
                        <strong>{{orderitem.quantity}}</strong>
                        <div class="add-arrow">
                            <img data-product ="{{orderitem.product.id}}" data-action="add" class='arrow update-cart' src="{% static 'images/arrow-up.png' %}">
                            <img data-product ="{{orderitem.product.id}}" data-action="remove" class='arrow update-cart' src="{% static 'images/arrow-down.png' %}">
                        </div>
                    </div>
                    <div style="flex:1;">${{orderitem.individual_item_total}}</div>
                </div>
                {% endfor %}
                

            </div>
            

        </div>
    </div>
{% endblock content %}

