{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{ product.imageURL }}" >
                <div class="box-element product">
                    <h6><strong>Product: {{product.name}}</strong></h6>
                    <hr>
                    <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary update-cart" onclick="this.blur()">Add to Cart</button>
                    <a class="btn btn-outline-success">View</a>
                    <h4 style="display:inline; float:right; padding-right:5px;">#{{product.price}}</h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
