.cart-logo{
    width: 35px;
    margin-left: 10px;
}

.cart-total{
    background: red;
    width: 16px;
    height: 24px;
    color:white;
    text-align: center;
    border-radius: 50%;
}

.bg-dark{
    background: rgb(0, 0, 0)!important;
}

.thumbnail{
    width:100%;
    height: 200px;
    box-shadow: -1px -3px 5px -2px rgb(204, 202, 202);
    -moz-box-shadow: -1px -3px 5px -2px rgb(204, 202, 202);
    -webkit-box-shadow: -1px -3px 5px -2px rgb(204, 202, 202);
}

.box-element{
    border-radius: 4px;
    background: white;
    padding:10px;
    box-shadow: 0 0 16px rgb(204, 202, 202);
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
    margin-top: 10px;
}

h1,h2,h3,h4,h5,h6{
    color: rgb(105, 103, 103);
}

.cart-row{
    display:flex;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(216, 216, 216);
    padding-bottom: 10px;
}

.cart-img{
    width:100px;
}

.arrow{
    width:12px;
    display:block;
    margin-top: 2px;
}

.arrow:hover{
    opacity:60%;
    cursor: pointer;
}

.add-arrow{
    display: inline-block;
    
}

.form-field{
	width:260px;
	display: inline-block;
	padding: 5px;
}

.btn-block{
    display: block;
}



.hidden{
	display: none!important;
}
